 <div class="dropdown">
    <i class="btn mdi mdi-dots-vertical dropdown-toggle" data-bs-toggle="dropdown"></i>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item btn btn-sm" href="#">Edit</a></li>
        <li><a class="dropdown-item btn btn-sm text-danger" href="#">Delete</a></li>
    </ul>
</div>
