<div class="dataTable-bottom">
  <div class="dataTable-info">Showing 1 to 10 of 100 entries</div>
  <nav class="dataTable-pagination">
    <ul class="dataTable-pagination-list">
      @foreach (var link in _links)
      {
      <li class="@(link.Enabled ? null : "disabled") @(link.Active ? "active" : "")" @onclick="() => OnSelectedPage(link)">
        <a href="#" data-page="@link.Text">@link.Text</a>
      </li>
      }
    </ul>
  </nav>
</div>