<section>
  <select name="" id="" class="form-control" @onchange="ApplySort">
    <option value="-1">--Order By--</option>
    <option value="PoheNumber">PO Number</option>
    <option value="VendorName">Vendor Name</option>
  </select>
</section>
