<section class="table-components">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>@Title</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper mb-30">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="@Link">@LinkText</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  @Title
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <div class="title">
              <h6 class="mb-10">@Title</h6>
            </div>
            @CustomComponent
            <div class="table-responsive">
              <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                @Topbar
              </div>
              <div class="dataTable-container">
                <table class="table dataTable-table" id="table">
                  <thead>
                    @Thead
                  </thead>
                  <tbody>
                  @Tbody
                  </tbody>
                </table>
                <!-- end table -->
              </div>
            </div>

            @Page
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== tables-wrapper end ========== -->
  </div>
  <!-- end container -->
</section>

@code{

  [Parameter]
  public string? Title { get; set; }

  [Parameter]
  public string? Link { get; set; }

  [Parameter]
  public string? LinkText { get; set; }

  [Parameter]
  public RenderFragment CustomComponent { get; set; }
  
  [Parameter]
  public RenderFragment? Thead { get; set; }

  [Parameter]
  public RenderFragment? Tbody { get; set; }

  [Parameter]
  public int TotalItems { get; set; }

  [Parameter]
  public int PageIndex { get; set; }

  [Parameter]
  public int PageSize { get; set; }

  [Parameter]
  public EventCallback<int> PageIndexChanged { get; set; }

  [Parameter]
  public RenderFragment? Topbar{ get; set; }
  
  [Parameter]
  public RenderFragment? Page{ get; set; }
  
}