<div class="dataTable-top">
  <div class="dataTable-dropdown">
    <label>
      <select class="dataTable-selector">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
      </select> entries per page
    </label>
  </div>
  <div class="dataTable-search">
    <input class="dataTable-input bg-transparent text-sm" placeholder="@Placeholder" type="text" @bind-value="@Keyword" @bind-value:event="oninput"  @onkeyup="async () => await OnSearchChanged.InvokeAsync(Keyword)" >
  </div>
</div>