<div class="dataTable-bottom">
  <div class="dataTable-info">@($"Showing {MetaData.PageSize * (MetaData.CurrentPage - 1) + 1} to {Math.Min(MetaData.PageSize * MetaData.CurrentPage, MetaData.TotalCount)} of {MetaData.TotalCount} entries")</div>
  <nav class="dataTable-pagination">
    <ul class="dataTable-pagination-list">
      @foreach (var link in _links)
      {
        <li @onclick="() => OnSelectedPage(link)" class="@(link.Active ? "active" : null) @(link.Enabled ? "visible" : "invisible")">
          <a class="page-link">@link.Text</a>
        </li>
      }
    </ul>
  </nav>
</div>