@inherits LayoutComponentBase

<Sidebar IsOpen="@IsSidebarOpen" OnIsOpenChanged="@((bool isOpen) => IsSidebarOpen = isOpen)"/>
<main class="main-wrapper @(IsSidebarOpen ? "active" : "")">
    <Header OnToggleSidebar="@((bool isOpen) => IsSidebarOpen = isOpen)"></Header>
    @Body
    <Footer></Footer>
</main>

@code {
    private bool IsSidebarOpen { get; set; }
}



