<div class="warning-modal">
    <div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content card-style warning-card text-center">
                <div class="modal-body">
                    <div class="icon text-success">
                        <i class="lni lni-checkmark-circle mb-20"></i>
                    </div>
                    <div class="content mb-30">
                        <h2 class="mb-15">Success !!</h2>
                        <p class="text-sm text-medium">
                            An error has occurred while operating an error report
                        </p>
                    </div>
                    <div class="action d-flex flex-wrap justify-content-center">
                        <button data-bs-dismiss="modal" class="main-btn danger-btn rounded-full btn-hover m-1" @onclick="Hide" aria-label="Close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>