@page "/"

<section class="section">
<div class="container-fluid">
<!-- ========== title-wrapper start ========== -->
<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="titlemb-30">
        <h2>Dashboard</h2>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#0">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              CRM
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- ========== title-wrapper end ========== -->
<div class="row">
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card icon-card-2 mb-30">
      <div class="d-flex align-items-center">
        <div class="icon purple">
          <i class="lni lni-smile"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">Happy Clients</h6>
          <h3 class="text-bold mb-10">65K</h3>
        </div>
      </div>
      <div class="progress bg-purple-100">
        <div class="progress-bar purple-bg" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card icon-card-2 mb-30">
      <div class="d-flex align-items-center">
        <div class="icon success">
          <i class="lni lni-users"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">New Customers</h6>
          <h3 class="text-bold mb-10">10K</h3>
        </div>
      </div>

      <div class="progress bg-success-100">
        <div class="progress-bar success-bg" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card icon-card-2 mb-30">
      <div class="d-flex align-items-center">
        <div class="icon primary">
          <i class="lni lni-headphone"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">New Deals</h6>
          <h3 class="text-bold mb-10">755</h3>
        </div>
      </div>

      <div class="progress bg-primary-100">
        <div class="progress-bar primary-bg" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card icon-card-2 mb-30">
      <div class="d-flex align-items-center">
        <div class="icon orange">
          <i class="lni lni-bullhorn"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">Campaign Leads</h6>
          <h3 class="text-bold mb-10">34K</h3>
        </div>
      </div>

      <div class="progress bg-orange-100">
        <div class="progress-bar orange-bg" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
</div>
<!-- End Row -->
</div>
<!-- end container -->
</section>