@page "/payments/banks"

<TableSection Title="Bank"
              Link="/payments/banks"
              LinkText="Payment">

    <Topbar>
        <TableToolbar Placeholder="Bank Name" OnSearchChanged="SearchChanged" OnPageSizeChanged="PageSizeChanged"/>
    </Topbar>

    <Thead>
    <tr>
        <th>
            <h6>#</h6>
        </th>
        <th>
            <h6>Code</h6>
        </th>
        <th>
            <h6>Name</h6>
        </th>
        <th>
            <h6>
                <a href="#">Add +</a>
            </h6>
        </th>
    </tr>
    <!-- end table row-->
    </Thead>
    <Tbody>
    @foreach (var bank in BanksList)
    {
        <tr>
            <td class="min-width">
                <p>@bank.Id</p>
            </td>
            <td class="min-width">
                <p>@bank.Code</p>
            </td>
            <td class="min-width">
                <p>@bank.Name</p>
            </td>
            <td>
                <button class="more-btn ml-10 dropdown-toggle text-gray" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                    <span class="mdi mdi-dots-vertical mdi-2x"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                    <li class="dropdown-item">
                        <a class="text-gray" href="#" data-bs-toggle="modal" data-bs-target="#"> Edit </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="text-gray" onclick="" href="/purchasing/vendor-product/"> Add Item Product </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="text-danger" href="" data-bs-toggle="modal" data-bs-target="#@($"delete")"
                           data-item-id="">
                            Delete
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    }
    </Tbody>
    <Page>
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
    </Page>
</TableSection>