@page "/payments/banks"

<TableSection Title="Bank"
              Link="/payments/banks"
              LinkText="Payment">
    <CustomComponent>
    </CustomComponent>
    <Thead>
    <tr>
        <th>
            <h6>#</h6>
        </th>
        <th>
            <h6>Code</h6>
        </th>
        <th>
            <h6>Name</h6>
        </th>
        <th>
            <h6>
                <a href="#">Add +</a>
            </h6>
        </th>
    </tr>
    <!-- end table row-->
    </Thead>
    <Tbody>
    @foreach (var bank in BanksList)
    {
        <tr>
            <td class="min-width">
                <p>@bank.Id</p>
            </td>
            <td class="min-width">
                <p>@bank.Code</p>
            </td>
            <td class="min-width">
                <p>@bank.Name</p>
            </td>
            <td>
                <ActionPopup/>
            </td>
        </tr>
    }
    </Tbody>
</TableSection>