@page "/payments/fintechs"

<TableSection Title="Fintech"
              Link="/payments/fintechs"
              LinkText="Payment">
    
    <Topbar>
        <TableToolbar Placeholder="Fintech Name" OnSearchChanged="SearchChanged" OnPageSizeChanged="PageSizeChanged"/>
    </Topbar>

    <Thead>
    <tr>
        <th>
            <h6>#</h6>
        </th>
        <th class="min-width">
            <h6>Code</h6>
        </th>
        <th>
            <h6>Name</h6>
        </th>
        <th>
            <h6>
                <a href="#">Add +</a>
            </h6>
        </th>
    </tr>
    <!-- end table row-->
    </Thead>
    <Tbody>

    @foreach (var fintech in FintechList)
    {
        <tr>
            <td class="min-width">
                <p>@fintech.Id</p>
            </td>
            <td class="min-width">
                <p>@fintech.Code</p>
            </td>
            <td class="min-width">
                <p>@fintech.Name</p>
            </td>
            <td>
                <ActionPopup/>
            </td>
        </tr>
        <!-- end table row -->
    }
    </Tbody>
    <Page>
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
    </Page>
</TableSection>