@page "/payments/transactions"


<TableSection Title="Transaction"
              Link="/payments/transactions"
              LinkText="Payment">
  <CustomComponent>
    <div class="d-flex align-items-center">
      <h6>Transaction Type :</h6>
      <div class="select-style-1 mb-0 ml-10">
        <div class="select-position">
          <select class="p-0 pe-5 border-0">
            <option value="" selected>All</option>
            <option value="1">ORM</option>
            <option value="2">TP</option>
            <option value="3">TRB</option>
            <option value="3">RF</option>
            <option value="3">RPY</option>
          </select>
        </div>
      </div>
    </div>
  </CustomComponent>
  <Thead>
    <tr>
     <th>
         <h6>Transaction No</h6>
     </th>
     <th>
         <h6>Date</h6>
     </th>
     <th>
         <h6>Debet</h6>
     </th>
     <th>
         <h6>Credit</h6>
     </th>
     <th>
         <h6>Note</h6>
     </th>
     <th>
         <h6>Order Number</h6>
     </th>
     <th>
         <h6>Source</h6>
     </th>
     <th>
         <h6>Target</h6>
     </th>
     <th>
         <h6>Transaction Ref</h6>
     </th>
     <th>
         <h6>Type</h6>
     </th>
     <th>
         <h6>User</h6>
     </th>
 </tr>
 <!-- end table row-->
  </Thead>
  <Tbody>

@for (int i = 1; i < 8; i++)
{
<tr>
<td>
    <p>TRX#202127-113</p>
</td>
<td>
    <p>12 Jul 2022</p>
</td>
<td>
    <p>Rp. 10,000,000</p>
</td>
<td>
    <p>-</p>
</td>
<td>
    <p>Topup</p>
</td>
<td>
    <p>-</p>
</td>
<td>
    <p>131-3456-78</p>
</td>
<td>
    <p>11-4567-980</p>
</td>
<td>
    <p>-</p>
</td>
<td>
    <p>TP</p>
</td>
<td>
    <p>John Doe</p>
</td>
</tr>
}
  </Tbody>
</TableSection>