@page "/completeOrder"




<section class="tab-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Complete Your Order</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Form Layout
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== form-layout-wrapper start ========== -->
        <div class="form-layout-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-style mb-30">
                        <h6 class="mb-25">Enter Your Detail</h6>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Full Name</label>
                                        <input type="text" placeholder="John Doe">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="text" placeholder="johndoe@email.com">
                                    </div>
                                </div>

                                <!-- end col -->
                                <div class="col-sm-4">
                                    <div class="select-style-1">
                                        <label>Mobile Number</label>
                                        <div class="select-position">
                                            <select class="light-bg">
                                                <option value="">+62</option>
                                                <option value="">+1</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-8">
                                    <div class="input-style-1">
                                        <label style="background-color: transparent; color: white;">      sd    </label>
                                        <input type="text" placeholder="00611">
                                    </div>
                                </div>

                                <!-- end col -->
                                <!-- end col -->
                                <!----end>

                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>

                                <!-- end col -->
                                <!-- end col -->

                                <div class="col-12">
                                    <hr>

                                </div>

                                <!-- end col -->
                                <h6 class="mb-25">Payment</h6>
                                <div class="col-sm-3">
                                    <div class="select-style-1">
                                        <label>Type</label>
                                        <div class="select-position">
                                            <select class="light-bg">
                                                <option value="">Pay At Hotel</option>
                                                <option value="">Bill</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-9">
                                    <div class="input-style-1">
                                        <label style="background-color: transparent; color: white;">      sd    </label>
                                        <input type="text" placeholder="00611">
                                    </div>
                                </div>


                                <!---->

                                <!-- end col -->
                                <div class="col-sm-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">

                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>

                            </div>


                            <!-- end row -->



                        </form>
                    </div>
                  
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="card-style mb-30">
                        <h6 class="mb-25">Contact Us</h6>
                        <form action="#">
                            <div class="row">
                         HAHA
                            </div>
                            <!-- end row -->
                        </form>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== form-layout-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>