@page "/completeOrder"




<section class="tab-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Form Layout</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Form Layout
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== form-layout-wrapper start ========== -->
        <div class="form-layout-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-style mb-30">
                        <h6 class="mb-25">Shipping Address</h6>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Full Name</label>
                                        <input type="text" placeholder="John">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="text" placeholder="Doe">
                                    </div>
                                </div>

                                <!-- end col -->
                                <div class="col-sm-3">
                                    <div class="select-style-1">
                                        <label>Number</label>
                                        <div class="select-position">
                                            <select class="light-bg">
                                                <option value="">+62</option>
                                                <option value="">+1</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-9">
                                    <div class="input-style-1">
                                        <label style="background-color: transparent; color: white;">      sd    </label>
                                        <input type="text" placeholder="00611">
                                    </div>
                                </div>

                                <!-- end col -->
                                <!-- end col -->
                                <!----end>

                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>

                                <!-- end col -->
                                <!-- end col -->

                                <div class="col-12">
                                    <hr>

                                </div>

                                <!-- end col -->
                                <h6 class="mb-25">Shipping Address</h6>
                                <div class="col-sm-3">
                                    <div class="select-style-1">
                                        <label>Number</label>
                                        <div class="select-position">
                                            <select class="light-bg">
                                                <option value="">+62</option>
                                                <option value="">+1</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-9">
                                    <div class="input-style-1">
                                        <label style="background-color: transparent; color: white;">      sd    </label>
                                        <input type="text" placeholder="00611">
                                    </div>
                                </div>


                                <!---->

                                <div class="col-sm-8">
                                    <div class="select-style-1">
                                        <label>Number</label>
                                        <div class="select-position">
                                            <select class="light-bg">
                                                <option value="">+62</option>
                                                <option value="">+1</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">

                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>

                            </div>


                            <!-- end row -->



                        </form>
                    </div>
                    <!-- end card -->
                    <div class="card-style mb-30">
                        <h6 class="mb-15">Sign up Form</h6>
                        <p class="text-sm mb-25">
                            Start creating the best possible user experience for you
                            customers.
                        </p>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label> Name</label>
                                        <input type="text" placeholder="Name">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Password</label>
                                        <input type="password" placeholder="Password">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="form-check checkbox-style mb-30">
                                        <input class="form-check-input" type="checkbox" value="" id="checkbox-not-robot">
                                        <label class="form-check-label" for="checkbox-not-robot">
                                            I am not a Robot
                                        </label>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="card-style mb-30">
                        <h6 class="mb-25">Contact Us</h6>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Name</label>
                                        <input type="text" placeholder="Name" class="bg-transparent">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="email" placeholder="Email" class="bg-transparent">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="select-style-1">
                                        <label>Subject</label>
                                        <div class="select-position">
                                            <select>
                                                <option value="">Select Subject</option>
                                                <option value="">Maintenances</option>
                                                <option value="">Web Services</option>
                                                <option value="">Graphic Services</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Date</label>
                                        <input type="date">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Message</label>
                                        <textarea placeholder="Type here..." rows="5" class="bg-transparent"></textarea>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <button class="main-btn primary-btn btn-hover">
                                        Submit Form
                                    </button>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== form-layout-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>