@page "/orderMenus"

<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6"><div class="title mb-30"><h2>Tables</h2></div></div>

                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#0">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Tables
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Responsive Data Table</h6>
                        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                            <div class="left"><p>Show <span>10</span> entries</p></div>
                            <div class="right">
                                <div class="table-search d-flex">
                                    <form action="#">
                                        <input type="text" placeholder="Search...">
                                        <button><i class="lni lni-search-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                                              
                              
       <section class="card-components">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-1">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="title mb-9">
                
              </div>
            </div>
            <!-- end col -->
   
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== cards-styles start ========== -->
        <div class="cards-styles">
               <!-- ========= card-style-4 start ========= -->
          <div class="row">
            <div class="col-12">
              <div class="title mt-30 mb-30">
       
              
              </div>
            </div>
            <!-- end col -->
            <!-- end col -->
       @for (var i = 0; i <= 7; i++)
                                        {
            <div class="card" style="width: 16rem;">
            <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" class="card-img-top">
          <div class="card-body">
             <h5 class="card-title">Nasi Goreng</h5>
            <p class="card-text">Nasi goreng enak dengan topping mantap beud </p>
               <a href="#" class="btn btn-primary">Add To Cart</a>
                  </div>
                              </div>

                                        }
            <!-- end col -->
     
            <!-- end col -->
          </div>
          <!-- end row -->
          <!-- ========= card-style-4 end ========= -->

          
        </div>
        <!-- ========== cards-styles end ========== -->
      </div>
      <!-- end container -->
    </section>
                          
                        </div>
                        <div class="pt-10 d-flex flex-wrap justify-content-between">
                            <div class="left"><p class="text-sm text-gray">Showing 12/30 products</p></div>
                            <div class="right table-pagination">
                                <ul class="d-flex justify-content-end align-items-center">
                                    <li class="ms-2"><a href="#0"><i class="lni lni-angle-double-left"></i></a></li>
                                    <li class="ms-2"><a href="#0"> 1 </a></li>
                                    <li class="ms-2"><a href="#0" class="active"> 2 </a></li>
                                    <li class="ms-2"><a href="#0"> 3 </a></li>
                                    <li class="ms-2"><a href="#0"> 4 </a></li>
                                    <li class="ms-2"><a href="#0"><i class="lni lni-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
</section>