@page "/sam"
<div class="table-wrapper table-responsive">
    <table class="table">
        <thead>
            <tr>

                <th>
                    <h6 class="text-sm text-medium"> Icon </h6>
                </th>

                <th class="min-width">
                    <h6 class="text-sm text-medium">Menu Name</h6>
                </th>
                <th class="min-width">
                    <h6 class="text-sm text-medium">Price</h6>
                </th>
                <th class="min-width">
                    <h6 class="text-sm text-medium">Type</h6>
                </th>
                <th class="min-width" style="text-align: center;">
                    <h6 class="text-sm text-medium">Status</h6>
                </th>
                <th class="min-width" style="text-align: left;">
                    <h6 class="text-sm text-medium">
                        <a class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#create"> Add +</a>
                    </h6>
                </th>

            </tr>
        </thead>
        <tbody>
           @* @foreach (var item in RestoMenusListPaging)*@
                @for (var i = 0; i <= 3; i++)
            {

                <tr>

                    <td border="1" width="100px">
                        <div class="product">
                            <div>
                                <img src="https://localhost:7068/Resources/Images/" alt="" width="50" height="50">

                            </div>

                        </div>
                    </td>

                    <td>
                        <p class="text-sm">"BOEK"</p>
                    </td>
                    <td>
                        <p class="text-sm">Rp. 10.000</p>
                    </td>
                    <td>
                        <p class="text-sm">BOEK !</p>
                    </td>
                    <td class="text-center">
                        
                                <span class="status-btn primary-btn">BOEK Y</span>

                       
                    </td>
                    <td>
                        <div class="text-sm" style="margin-left: 20px;">

                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="lni lni-more-alt"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1" style="">

                                <li class="dropdown-item">
                                    <a class="main-btn danger-btn btn-small btn-hover">Delete</a>

                                </li>
                                <li class="dropdown-item">
                                    <a class="main-btn warning-btn btn-small btn-hover" data-bs-toggle="modal" data-bs-target="#update">Update</a>

                                </li>

                                <li class="dropdown-item">
                                    <a class="main-btn primary-btn btn-small btn-hover" data-bs-toggle="modal" data-bs-target="#updatep">Insert Photo</a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }






            <!-- Modal create -->
 <div class="modal modal-lg fade" id="@("create")" tabindex="-1" aria-labelledby="EditLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-header">
                            <h5 class="modal-title" id="EditLabel">Add Resto Menus</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="input-style-1 col-9 rounded-sm">
                                    <label>Resto Name</label>
                                   
                                </div>
                                <div class="input-style-1 col-3 rounded-sm">
                                    <label>Price</label>
                                    <div class="select-position">
                                       
                                    </div>
                                </div>
                                <div class="input-style-1 col-6 rounded-sm">
                                    <label>Desc</label>
                                    <div class="select-position">
                                      
                                    </div>
                                </div>
                                <div class="select-style-1 col-6 rounded-sm">
                                    <label>Status</label>
                                    <div class="select-position">
                                        <div class="select-position">
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="input-style-1 col-6 rounded-sm">
                                    <label>Type</label>
                                    <div class="select-position">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="container">
                                <div class="row">
                                    @for (var i = 0; i <= 3; i++)
                                    {
                                        <div class="col-sm-3">
                                            <div class="upload-container">
                                                <img src="vendor/assets/images/resto/meal-food-icon.png" alt="Foto 4" class="img-fluid upload-img">
                                                <label for="file2" class="upload-label">
                                                    <i class="bi bi-cloud-upload"></i> Choose Image
                                                </label>
                                                <input type="file" id="file2" style="display:none;">
                                            </div>
                                            <div>
                                                <input type="radio" name="primary_key" value="1">
                                                <label> Primary Image</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                                Cancel
                            </button>
                            <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                                Save
                            </button>
                        </div>
                </div>
            </div>




        </tbody>
    </table>
</div>