@page "/booking/room-invoice"
<section>
<div class="container-fluid">
<!-- ========== title-wrapper start ========== -->
  <div class="title-wrapper pt-30">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="title d-flex align-items-center flex-wrap mb-30">
          <h2 class="mr-40">Invoice</h2>
        </div>
      </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#0">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Invoice
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- ========== title-wrapper end ========== -->

<!-- Invoice Wrapper Start -->
<div class="invoice-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="invoice-card card-style mb-30">
      <div class="invoice-header mt-4">
        <div class="invoice-for px-0">
          <h5 class="mt-40 ml-5">Order Number</h5>
          <p class="text-sm ml-5">
            BO#20230101-0001
          </p>
        </div>
        <div class="invoice-date">
          <h5 class="text-bold mt-40">Order Date</h5>
          <p class="text-sm mr-20">
            2023/01/01
          </p>
        </div>
        <div class="invoice-date">
          <h5 class="text-bold mt-40">Invoice number</h5>
          <p class="text-sm">
            TRX#20230101-0001
          </p>
        </div>
        <div class="invoice-date">
          <h5 class="text-bold mt-40">Invoice Date</h5>
          <p class="text-sm">
            2023/01/01
          </p>
        </div>
        <div class="invoice-date">
          <h5 class="text-bold mt-40">Status</h5>
          <p class="text-sm">
            Paid
          </p>
        </div>
        <div class="invoice-date">
          <h5 class="text-bold mt-40">Payment Type</h5>
          <p class="text-sm">
            GoTo
          </p>
        </div>
      </div>
      <div class="invoice mt-4">
        <div class="row">
          <div class="col">
            <h2 class="ml-10">Customer</h2>
          </div>
        </div>
        <div class="invoice-address mb-30">
          <div class="invoice-for px-0">
            <div class="mr-20">
              <h5 class="ml-10 mr-10 mb-10 mt-0">Full Name</h5>
              <p class="text-sm  ml-10 mr-10">
                Customer Name
              </p>
            </div>
          </div>          
          <div class="invoice-for px-0">
            <div class="mr-20">
              <h5 class="ml-10 mr-10 mb-10 mt-0">Contact Number</h5>
              <p class="text-sm  ml-10 mr-10">
                08771231244
              </p>
            </div>
          </div>
          <div class="invoice-for px-0">
            <div class="mr-20">
              <h5 class="ml-10 mr-10 mb-10 mt-0">Member</h5>
              <p class="text-sm  ml-10 mr-10">
                VIP
              </p>
            </div>
          </div>
          <div class="invoice-for px-0">
            <div class="mr-20">
              <h5 class="ml-10 mr-10 mb-10 mt-0">Member Date</h5>
              <p class="text-sm  ml-10 mr-10">
                23 May 2023
              </p>
            </div>
          </div>
          <div class="invoice-for px-0">
            <div class="mr-20">
              <h5 class="ml-10 mr-10 mb-10 mt-0">Remaining Points</h5>
              <p class="text-sm  ml-10 mr-10">
                +150 Points
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <h2 class="ml-10">Billing</h2>
        <hr>
        <table class="invoice-table table">
          <thead>
          <tr>
            <th class="desc">
              <h6 class="text-sm text-medium">Facilities</h6>
            </th>
            <th class="qty">
              <h6 class="text-sm text-medium">Qty</h6>
            </th>
            <th class="service">
              <h6 class="text-sm text-medium">Vacant</h6>
            </th>
            <th class="amount">
              <h6 class="text-sm text-medium">Price</h6>
            </th>            
            <th class="amount">
              <h6 class="text-sm text-medium">Discount</h6>
            </th>            
            <th class="amount">
              <h6 class="text-sm text-medium">Point Member</h6>
            </th>            
            <th class="amount">
              <h6 class="text-sm text-medium">Sub Total</h6>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <p class="text-sm">
                Indonesian Standard Double
              </p>
            </td>
            <td>
              <p class="text-sm">2</p>
            </td>
            <td>
              <p class="text-sm">2 Adult, 0 Child</p>
            </td>
            <td>
              <p class="text-sm">IDR 300.000</p>
            </td>
            <td>
              <p class="text-sm text-center mr-20">10%</p>
            </td>
            <td>
              <p class="text-sm"> Disc 10%<br/>(-100 Pts)</p>
            </td>
            <td>
              <p class="text-sm">IDR 243.000</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-sm">
                Extra Beds
              </p>
            </td>
            <td>
              <p class="text-sm">1</p>
            </td>
            <td>
              <p class="text-sm"></p>
            </td>
            <td>
              <p class="text-sm">IDR 50.000</p>
            </td>
            <td>
              <p class="text-sm text-center mr-20"></p>
            </td>
            <td>
              <p class="text-sm"></p>
            </td>
            <td>
              <p class="text-sm">IDR 50.000</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-sm">
                SoftDrink
              </p>
            </td>
            <td>
              <p class="text-sm">2</p>
            </td>
            <td>
              <p class="text-sm"></p>
            </td>
            <td>
              <p class="text-sm">IDR.20.000</p>
            </td>
            <td>
              <p class="text-sm text-center mr-20"></p>
            </td>
            <td>
              <p class="text-sm"></p>
            </td>
            <td>
              <p class="text-sm">IDR 20.000</p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h6 class="text-sm text-medium">Tax</h6>
            </td>
            <td>
              <h6 class="text-sm text-bold">IDR 31.300 (10%)</h6>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h6 class="text-sm text-medium">Total Discount</h6>
            </td>
            <td>
              <h6 class="text-sm text-bold">IDR 57.000</h6>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h6 class="text-sm text-medium">Payment Ammount</h6>
            </td>
            <td>
              <h6 class="text-sm text-bold">IDR 313.000</h6>
            </td>
          </tr>
 
          </tbody>
        </table>
      </div>
      </div>
      <div class="invoice-action">
                <ul class="d-flex flex-wrap align-items-center justify-content-center">
                  <li class="m-2">
                    <a href="#0" class="main-btn primary-btn-outline btn-hover">
                      Download Invoice
                    </a>
                  </li>
                  <li class="m-2">
                    <a href="#0" class="main-btn primary-btn btn-hover">
                      Send Invoice
                    </a>
                  </li>
                </ul>
              </div>
      <!-- End Card -->
    </div>
    <!-- ENd Col -->
  </div>
  <!-- End Row -->
</div>
<!-- Invoice Wrapper End -->
</div>
<!-- end container -->
</section>
