@page "/booking/room-extra"
<div class="col-lg-12">
                <!-- input style start -->
                <div class="card-style mb-30">
                  <h5 class="mb-25">Modify Your Booking <br/> <h8>We will use these detail to share your booking information</h8></h5>       
                  <div class="input-style-1">
                    <label>Full Name</label>
                    <input type="text" placeholder="Full Name">
                  </div>
                  <!-- end input -->
                  <div class="input-style-2">
                    <label>Email</label>
                    <input type="email" placeholder="Email">
                  </div>
                  <!-- end input -->
                  <div class="input-style-2">
                    <label>Mobile Number</label>
                    <input type="number" placeholder="MobileNumber">
                  </div>
                  <!-- end input -->
                </div>
                <!-- end card -->
                <!-- ======= input style end ======= -->

                <!-- ======= select style start ======= -->
                <div class="card-style mb-30">
                  <h6 class="mb-25">Selects</h6>
                  <div class="select-style-1">
                    <label>Category</label>
                    <div class="select-position">
                      <select>
                        <option value="">Select category</option>
                        <option value="">Category one</option>
                        <option value="">Category two</option>
                        <option value="">Category three</option>
                      </select>
                    </div>
                  </div>
                  <!-- end select -->
                  <div class="select-style-2">
                    <div class="select-position">
                      <select>
                        <option value="">Select category</option>
                        <option value="">Category one</option>
                        <option value="">Category two</option>
                        <option value="">Category three</option>
                      </select>
                    </div>
                  </div>
                  <!-- end select -->
                </div>
                <!-- end card -->
                <!-- ======= select style end ======= -->

                <!-- ======= select style start ======= -->
                <div class="card-style mb-30">
                  <h6 class="mb-25">Time and Date</h6>
                  <div class="input-style-1">
                    <label>Date</label>
                    <input type="date">
                  </div>
                  <!-- end input -->
                  <div class="input-style-2">
                    <input type="date">
                    <span class="icon"><i class="lni lni-chevron-down"></i></span>
                  </div>
                  <!-- end input -->
                  <div class="input-style-2">
                    <input type="time">
                  </div>
                  <!-- end input -->
                </div>
                <!-- end card -->
                <!-- ======= input style end ======= -->

               <div class="col-lg-6">
                <div class="card-style mb-30">
                  <h6 class="mb-10">Striped Table</h6>
                  <p class="text-sm mb-20">
                    For Striped Table—light padding and only horizontal
                    dividers.
                  </p>
                  <div class="table-wrapper table-responsive">
                    <table class="table striped-table">
                        <thead>
                          <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Price Item</th>
                            <th scope="col">Action</th>
                          </tr>
                          <tr>
                            <th scope="col">Cola-Cola</th>
                            <th scope="col">Rp.7.000</th>
                            <th scope="col">
                              <button class="btn btn-primary">Add</button>
                              <button class="btn btn-danger">Delete</button>
                            </th>
                          </tr>
                        </thead>
                    </table>
                    <!-- end table -->
                  </div>
                </div>
                <!-- end card -->
              </div>
              </div>

@code {

}
