@page "/priceitems"

@inherits LayoutComponentBase

<PageTitle>Purchase Order</PageTitle>

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Price Items</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/master">Master</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Price Items
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Price Items</h6>
                        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                            <div class="left">
                                <p>Show <span>@TotalRows</span> entries</p>
                            </div>
                            <div class="right">

                                <div class="table-search d-flex">
                                    <button type="button" class="btn btn-primary mr-10" data-bs-toggle="modal" data-bs-target="#addmodal">
                                        +
                                    </button>
                                    <form action="#">
                                        <input type="text" placeholder="Search...">
                                        <button><i class="lni lni-search-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="lead-info">
                                            <h6>ID</h6>
                                        </th>
                                        <th class="lead-email">
                                            <h6>Item Name</h6>
                                        </th>
                                        <th class="lead-phone">
                                            <h6>Price</h6>
                                        </th>
                                        <th class="lead-company">
                                            <h6>Type</h6>
                                        </th>
                                        <th>
                                            <h6>Action</h6>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    @for (int i = 1; i < @TotalRows; i++)
                                    {
                                        <tr>
                                            <td>
                                                <div class="lead">
                                                    <div class="lead-image">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/8933/8933016.png" alt="">
                                                    </div>
                                                    <div class="lead-text">
                                                        <p>@i</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="lead">
                                                    <div class="lead-text">
                                                        <p><a>Coca-Cola</a></p>
                                                    </div>
                                                        <div class="lead-info action">
                                                            <button class="text-grey">
                                                            <i class="lni lni-angle-double-right" data-bs-toggle="modal" data-bs-target="#popupmodal"></i>
                                                            </button>
                                                        </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p>Rp. 10.000</p>
                                            </td>
                                            <td>
                                                <p>Softdrink</p>
                                            </td>
                                            <td>
                                                <button class="more-btn ml-10 dropdown-toggle" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                                                    <span class="mdi mdi-dots-vertical"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                                                    <li class="dropdown-item">
                                                        <a class="text-gray" href="#" data-bs-toggle="modal" data-bs-target="#@($"UpdateModal{i}")">Edit</a>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#@($"delete{i}")">Delete</a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                    <!-- end table row -->
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                        <div class="pt-10 d-flex flex-wrap justify-content-between">
                            <div class="left">
                                <p class="text-sm text-gray">Showing 12/30 products</p>
                            </div>
                            <div class="right table-pagination">
                                <ul class="d-flex justify-content-end align-items-center">
                                    <li class="ms-2">
                                        <a href="#0">
                                            <i class="lni lni-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="ms-2">
                                        <a href="#0"> 1 </a>
                                    </li>
                                    <li class="ms-2">
                                        <a href="#0" class="active"> 2 </a>
                                    </li>
                                    <li class="ms-2">
                                        <a href="#0"> 3 </a>
                                    </li>
                                    <li class="ms-2">
                                        <a href="#0"> 4 </a>
                                    </li>
                                    <li class="ms-2">
                                        <a href="#0">
                                            <i class="lni lni-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>


@for (int i = 1; i <= @TotalRows; i++)
{
    // Update Modal
    <div class="warning-modal">
        <div class="modal fade" id="@($"UpdateModal{i}")" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit Category Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div>
                                <div class="mb-3 row">
                                    <label for="recipient-name" class="col-sm-2 col-form-label">Item Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Item-price">
                                    </div>
                                </div>

                                <div class="select-style-2   row">
                                    <label class="col-sm-2 col-form-label">Type</label>
                                    <div class="select-position col-sm-10">
                                        <select>
                                            <option value="">Select category</option>
                                            <option value="">Category</option>
                                            <option value="">Service</option>
                                            <option value="">Facility</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="mb-3 row">
                                    <label for="recipient-name" class="col-sm-2 col-form-label">Item Price:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Item-price">
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    <textarea class="form-control" id="Description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFileSm" class="form-label">Upload Icon</label>
                                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    // Delete Modal
    <div class="warning-modal">
        <div class="modal fade" id="@($"delete{i}")" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <form class="modal-content card-style" action="/delete" method="post">
                    <div class="modal-header px-0 border-0">
                        <h5 class="text-bold">
                            <i class="lni lni-warning text-danger me-2"></i> Are you sure
                            you want to delete?
                        </h5>
                    </div>
                    <div class="modal-body px-0">
                        <div class="content mb-30">
                            <p class="text-sm">
                                Price Items with ID: @i will be deleted. data that has been deleted cannot be recovered!
                            </p>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                                Cancel
                            </button>
                            <button type="submit" class="main-btn warning-btn btn-hover m-1">
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@*add modal*@
<div class="modal fade" id="addmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCagroLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Category Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <div>
                        <div class="mb-3 row">
                            <label for="recipient-name" class="col-sm-2 col-form-label">Item Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Item-price">
                            </div>
                        </div>

                        <div class="select-style-2   row">
                            <label class="col-sm-2 col-form-label">Type</label>
                            <div class="select-position col-sm-10">
                                <select>
                                    <option value="">Select category</option>
                                    <option value="">Category</option>
                                    <option value="">Service</option>
                                    <option value="">Facility</option>
                                </select>
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label for="recipient-name" class="col-sm-2 col-form-label">Item Price:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Item-price">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">Upload Icon</label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@*pop up modal*@
<div class="warning-modal">
    <div class="modal fade" id="popupmodal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Description</h5>
                </div>
                <div class="modal-body px-0">
                    <div class="content mb-30">
                        <p class="text-sm">
                            Pembatalan Gratis	Kebijakan pembatalan gratis yang memberikan kemudahan bagi tamu untuk membatalkan reservasi mereka hingga 24 jam sebelum tanggal check-in tanpa dikenakan biaya apapun
                        </p>
                    </div>
                    <div class="action d-flex flex-wrap align-items-center justify-content-center">

                        <!-- end checkbox -->
                        <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                            Okay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public int TotalRows { get; set; } = 5;
}

