@page "/servicetask"
@using Realta.Frontend.Components.Master
@using Realta.Domain.RequestFeatures
@using Realta.Frontend.Pages.Master
@using Realta.Contract.Models
@inherits LayoutComponentBase
<PageTitle>Service Task</PageTitle>

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Service Task</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/master">Master</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Service Task
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col">
                    <div class="card-style mb-30">
                        <div class="title d-flex flex-wrap align-items-left justify-content-between">
                            <h6 class="mb-10">Service Task</h6>
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                            <div class="left">
                                <p>Show <span>@TotalRows</span> entries</p>
                            </div>
                            <div class="right">

                                <div class="table-search d-flex  row-cols-auto">
                                    <div>
                                        <button type="button" class="btn btn-primary mr-10" title="Add" data-bs-toggle="modal" data-bs-target="#addmodal">
                                            +
                                        </button>
                                    </div>

                                    <form action="#">
                                        <Search OnSearchChanged="SearchChange" />
                                        <button>
                                            <i class="lni lni-search-alt"></i>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div>
                            <ServiceTaskTable ServiceTask="ServiceTaskList" OnDeleted="deleteServiceTask" />
                        </div>
                        <Paging MetaData="MetaData" Spread="3" SelectedPage="SelectedPage" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end container -->
</section>

<!-- Modal Add Policy -->
    <div class="modal fade" id="addmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCagroLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Policy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="_serviceTaskDto" OnValidSubmit="Create">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div >
                                <div class="input-style-1">
                                    <label for="name">Task Name:</label>

                                    <InputText id="ProductName" @bind-Value="_serviceTaskDto.SetaName" />
                                    <ValidationMessage For="@(() => _serviceTaskDto.SetaName)" />

                                </div>
                            </div>
                            <div >
                                <div class="input-style-1">
                                    <label for="name">Sequence Order:</label>

                                    <InputNumber id="UnitsOnOrder" @bind-Value="_serviceTaskDto.SetaSeq" k />
                                    <ValidationMessage For="@(() => _serviceTaskDto.SetaSeq)" />

                                </div>
                            </div>

                        <div class="col-12 modal-footer">
                                <button class="main-btn primary-btn btn-hover"  data-bs-dismiss="modal">
                                    Submit
                                </button>
                            </div>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
<SuccessNotification @ref="_notification" />



@code {
    public int TotalRows { get; set; } = 5;

}