@page "/profile"

<div class="card-style">
                  <div class="border-bottom mb-10">
                    <h4>General</h4>
                  </div>
                  
                  <p class="text-sm mb-20">
                    This information will be display, so be careful what you share
                  </p>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      
                      <tbody>
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="vendor/assets/images/profile/profile-image.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>Kang Ridwan</p>
                                <p>Gold Member</p>
                                <p>Travel Agency</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p>kangridwan@gmail.com</p>
                            <p>0829218282(active)</p>
                          </td>
                          <td class="min-width">
                              <!-- Button trigger modal -->
                                <button type="button" class="btn btn-edit ms-auto" data-bs-toggle="modal" data-bs-target="#ModalProfil">
                                    <i class="lni lni-pencil"></i>
                                    <span>Edit</span>
                                </button>
                                

                                <!-- Modal -->
                                <div class="modal fade" id="ModalProfil" tabindex="-1" aria-labelledby="exampleModalProfil" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalProfil">Edit General(Page/Dialog)</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          <div class="row">
                                              <div class="border-bottom mb-10">
                                                <h4>General</h4>
                                              </div>
                                              <div class="input-style-1 col-6 rounded-sm"><label>Username</label>
                                                <div class="select-position"><input class="form-control" type="text">
                                                </div>
                                              </div>
                                              <div class="input-style-1 col-6 rounded-sm"><label>Email</label>
                                                <div class="select-position"><input class="form-control" type="text">
                                                </div>
                                              </div>
                                              <div class="select-style-1 col-6 rounded-sm"><!--!--><label>Type</label>
                                                <div class="select-position">
                                                    <select>
                                                    <option value="2">T=Travel Agent</option>
                                                    <option value="1">C=Corporate</option><!--!-->
                                                    <option value="0">I=Individual</option>
                                                    </select>
                                                </div>
                                              </div>
                                              <div class="input-style-1 col-6 rounded-sm"><label>Company</label>
                                                <div class="select-position"><input class="form-control" type="text">
                                                </div>
                                              </div>
                                              <div class="input-style-1 col-6 rounded-sm"><label>Handphone</label>
                                                <div class="select-position"><input class="form-control" type="text">
                                                </div>
                                              </div>
                                              <div class="border-bottom mb-10">
                                                <h4>Profile</h4>
                                              </div>
                                              <div class="input-style-1 col-7 rounded-sm"><label>National Id</label>
                                                <div class="select-position"><input class="form-control" type="text">
                                                </div>
                                              </div>
                                              <div class="input-style-1 col-5 rounded-sm">
                                                <label>Birthdate</label>
                                                <input type="date">
                                              </div>
                                              <div class="input-style-1 col-9 rounded-sm"><label>Job Title</label>
                                                <div class="select-position"><input class="form-control" type="text">
                                                </div>
                                              </div>
                                              <div class="select-style-1 col-6 rounded-sm"><!--!--><label>Gender</label>
                                                <div class="select-position">
                                                    <select>
                                                    <option value="1">M=Male</option><!--!-->
                                                    <option value="0">F=Female</option>
                                                    </select>
                                                </div>
                                              </div>
                                              <div class="select-style-1 col-6 rounded-sm"><!--!--><label>Marital</label>
                                                <div class="select-position">
                                                    <select>
                                                    <option value="1">M=Married</option><!--!-->
                                                    <option value="0">S=Single</option>
                                                    </select>
                                                </div>
                                              </div>
                                          </div>
                                          
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                         
                          </td>
                      
                        </tr>
                        <!-- end table row -->              
                        
                      </tbody>
                    </table>
                    <!-- end table -->
                  </div>
                </div>
<!-- Security -->
<div class="card-style">
    <div class="border-bottom mb-10">
        <h4>Security</h4>
    </div>
    <div class="row">
        <div class="col-4">
            <label class="text-start">Change password</label>
            <div class="input-style-1">
                
                <input type="text" class="form-control form-control-sm" placeholder="********">
            </div>
        </div>
        <div class="col-7 d-flex justify-content-end">
            <button type="button" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#ModalPassword">
                <i class="lni lni-pencil"></i>
                <span>Edit</span>
            </button>
            
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalPassword" tabindex="-1" aria-labelledby="exampleModalPassword" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalPassword">Change Password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-style-1 col-8 rounded-sm"><label>Current Password</label>
                            <div class="select-position"><input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="input-style-1 col-8 rounded-sm"><label>New Password</label>
                            <div class="select-position"><input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="input-style-1 col-8 rounded-sm"><label>Re-Type Password</label>
                            <div class="select-position"><input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-style-6 card-style mb-30">
                <nav class="nav" id="nav-tab" role="tablist">
                  <button class="active" id="tab-6-1" data-bs-toggle="tab" data-bs-target="#tabContent-6-1" aria-selected="true" role="tab">
                    Bonus Point
                  </button>
                  <button id="tab-6-2" data-bs-toggle="tab" data-bs-target="#tabContent-6-2" aria-selected="false" role="tab" class="" tabindex="-1">
                    History Member
                  </button>
                
                </nav>
                <div class="tab-content" id="nav-tabContent6">
                  <div class="tab-pane fade active show" id="tabContent-6-1" role="tabpanel" aria-labelledby="#tab-6-1">
                    <table class="table striped-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th><h6>Created On</h6></th>
                          <th><h6>Bonus Type</h6></th>
                          <th><h6>Point</h6></th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>12-Jul-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>100</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>26-Dec-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>200</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane fade" id="tabContent-6-2" role="tabpanel" aria-labelledby="#tab-6-2">
                    <table class="table striped-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th><h6>Promote Date</h6></th>
                          <th><h6>Member Type</h6></th>
                          <th><h6>Point</h6></th>
                          <th><h6>Status</h6></th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        <tr>
                          <td>

                          </td>
                          <td>
                              <p>12-Feb-2023</p>
                          </td>
                          <td>
                            <p>SILVER</p>
                          </td>
                          <td>
                            <p>1000</p>
                          </td>
                          <td>
                              <p>Expired</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>26-Dec-2023</p>
                          </td>
                          <td>
                            <p>GOLD</p>
                          </td>
                          <td>
                            <p>2000</p>
                          </td>
                          <td>
                              <p>Default</p>
                          </td>
                        </tr>
                        
                        <!-- end table row -->
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>

