<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper  @(IsOpen ? "active" : "")">
<div class="navbar-logo">
  <a href="index.html">
    <img src="vendor/assets/images/logo/logo.svg" alt="logo"/>
  </a>
</div>
<nav class="sidebar-nav">
<ul>
@* Dashboard *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class=""
     data-bs-toggle="collapse"
     data-bs-target="#dashboard"
     aria-controls="dashboard"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <svg width="22" height="22" viewBox="0 0 22 22">
        <path d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z"/>
      </svg>
    </span>
    <span class="text">Dashboard</span>
  </a>
  <ul id="dashboard" class="collapse show dropdown-nav">
    <li>
      <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    </li>
  </ul>
</li>
<span class="divider">
  <hr/>
</span>

@* Master *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#master"
     aria-controls="master"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-view-dashboard-outline"></i>
    </span>
    <span class="text">Master</span>
  </a>
  <ul id="master" class="collapse dropdown-nav">
    <li>
      <a href="settings.html"> Settings </a>
    </li>
    <li>
      <a href="blank-page.html"> Blank Page </a>
    </li>
  </ul>
</li>

@* Users *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#users"
     aria-controls="users"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-account-group-outline"></i>
    </span>
    <span class="text">Users</span>
  </a>
  <ul id="users" class="collapse dropdown-nav">
    <li>

                      <div class="nav-item px-3">
                        <NavLink class="nav-link" href="profile">
                            My Profile
                        </NavLink>
                      </div>
                    </li>
                    <li>
                      <div class="nav-item px-3">
                        <NavLink class="nav-link" href="booking">
                            My Booking
                        </NavLink>
                      </div>
                    </li>
                    <li>
                      <div class="nav-item px-3">
                        <NavLink class="nav-link" href="accounts">
                            My Accounts
                        </NavLink>
                      </div>
                    </li>
                    <li class="nav-item nav-item-has-children">
            <a href="#0" class="" data-bs-toggle="collapse" data-bs-target="#ddmenu_3" aria-controls="ddmenu_3" aria-expanded="true" aria-label="Toggle navigation">
              <span class="icon">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.9067 14.2908L15.2808 11.9167H6.41667V10.0833H15.2808L12.9067 7.70917L14.2083 6.41667L18.7917 11L14.2083 15.5833L12.9067 14.2908ZM17.4167 2.75C17.9029 2.75 18.3692 2.94315 18.713 3.28697C19.0568 3.63079 19.25 4.0971 19.25 4.58333V8.86417L17.4167 7.03083V4.58333H4.58333V17.4167H17.4167V14.9692L19.25 13.1358V17.4167C19.25 17.9029 19.0568 18.3692 18.713 18.713C18.3692 19.0568 17.9029 19.25 17.4167 19.25H4.58333C3.56583 19.25 2.75 18.425 2.75 17.4167V4.58333C2.75 3.56583 3.56583 2.75 4.58333 2.75H17.4167Z"></path>
                </svg>
              </span>
              <span class="text">Auth</span>
            </a>
            <ul id="ddmenu_3" class="dropdown-nav collapse show" style="">
              <div class="nav-item px-3">
                  <NavLink class="nav-link" href="signin">
                      Sign In
                  </NavLink>
              </div>
              <div class="nav-item px-3">
                  <NavLink class="nav-link" href="signup">
                      Sign Up
                  </NavLink>
              </div>
            </ul>
          </li>
  </ul>
</li>

@* HR *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#hr"
     aria-controls="hr"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-human-greeting-proximity"></i>
    </span>
    <span class="text">Human Resources</span>
  </a>
  <ul id="hr" class="collapse dropdown-nav">
    <li>
      <NavLink class="nav-link" href="/purchasing/vendor">Vendor</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="/purchasing/stock">Stock</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="/purchasing/list-order">Purchase Order</NavLink>
    </li>
  </ul>
</li>

@* Hotel *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#hotel"
     aria-controls="hotel"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-bed-outline"></i>
    </span>
    <span class="text">Hotel</span>
  </a>
  <ul id="hotel" class="collapse dropdown-nav">
    <li>
      <NavLink class="nav-link" href="hotels">Hotels</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="facility">Facility</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="reviews">Reviews</NavLink>
    </li>
  </ul>
</li>

@* Booking *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#booking"
     aria-controls="booking"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-calendar-clock-outline"></i>
    </span>
    <span class="text">Booking</span>
  </a>
  <ul id="booking" class="collapse dropdown-nav">
    <li>
      <a href="/booking/hotelList"> Hotel List </a>
    </li>
    <li>
      <a href="/booking/room"> Hotel Facilities </a>
    </li>
    <li>
      <a href="/booking/room-invoice"> Invoice </a>
    </li>
    <li>
      <a href="/booking/room-extra"> Room Detail </a>
    </li>
  </ul>
</li>

@* Resto *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#resto"
     aria-controls="resto"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-silverware"></i>
    </span>
    <span class="text">Resto</span>
  </a>
  <ul id="resto" class="collapse dropdown-nav">
    <li>
      <a href="settings.html"> Settings </a>
    </li>
    <li>
      <a href="blank-page.html"> Blank Page </a>
    </li>
  </ul>
</li>

@* Payment *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#payment"
     aria-controls="payment"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-wallet-outline"></i>
    </span>
    <span class="text">Payment</span>
  </a>
  <ul id="payment" class="collapse dropdown-nav">
    <li>
      <a href="banks"> Bank </a>
    </li>
    <li>
      <a href="fintechs"> Fintech </a>
    </li>
    <li>
      <a href="accounts"> Account </a>
    </li>
    <li>
      <a href="topup"> Topup </a>
    </li>
    <li>
      <a href="transactions"> Transaction </a>
    </li>
  </ul>
</li>

@* Purchasing *@
<li class="nav-item nav-item-has-children">
  <a href="#0"
     class="collapsed"
     data-bs-toggle="collapse"
     data-bs-target="#purchasing"
     aria-controls="purchasing"
     aria-expanded="false"
     aria-label="Toggle navigation">
    <span class="icon">
      <i class="mdi mdi-dolly"></i>
    </span>
    <span class="text">Purchasing</span>
  </a>
  <ul id="purchasing" class="collapse dropdown-nav">
    <li>
      <NavLink class="nav-link" href="/purchasing/gallery">Gallery</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="/purchasing/vendor">Vendor</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="/purchasing/stock">Stock</NavLink>
    </li>
    <li>
      <NavLink class="nav-link" href="/purchasing/list-order">Purchase Order</NavLink>
    </li>
  </ul>
</li>
</ul>
</nav>
</aside>
<div class="overlay @(IsOpen ? "active" : "")" @onclick="ToggleSidebar">

</div>


<!-- ======== sidebar-nav end =========== -->

@code {

  [Parameter]
  public bool IsOpen { get; set; }

  [Parameter]
  public EventCallback<bool> OnIsOpenChanged { get; set; }

  private async Task ToggleSidebar()
  {
    IsOpen = !IsOpen;
    await OnIsOpenChanged.InvokeAsync(IsOpen);
  }

}