@if (HotelsList.Count > 0)
{
    <div class="col-lg-12">

        <h6>Hotel Table</h6>
        <div class="table-wrapper table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="lead-info">
                            <h6>Lead</h6>
                        </th>
                        <th class="lead-email">
                            <h6>Email</h6>
                        </th>
                        <th class="lead-phone">
                            <h6>Price</h6>
                        </th>
                        <th class="lead-company">
                            <h6>Company</h6>
                        </th>
                        <th>
                            <h6>Action</h6>
                        </th>
                    </tr>
                    <!-- end table row-->
                </thead>
                <tbody>

                    @foreach (var hotel in HotelsList)
                    {
                        <tr>
                            <td class="min-width">
                                <div class="lead">
                                    <div class="lead-text">
                                        <p>@hotel.HotelName</p>
                                    </div>
                                </div>
                            </td>
                            <td class="min-width">
                                <p><a href="#0">@hotel.HotelId</a></p>
                            </td>
                            <td class="min-width">
                                <p><a href="#0">@hotel.HotelRatingStar</a></p>
                            </td>
                            <td>
                            </td>

                        </tr>
                    }

                    <!-- end table row -->
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <span>Product loading...</span>
}

