@* <section> *@
@*     <select class="form-control" @onchange="ApplySort"> *@
@*         <option value="-1">--Order By--</option> *@
@*         <option value="spofName">Name</option> *@
@*         <option value="spofDiscount">Discount</option> *@
@*     </select> *@
@* </section> *@