@if (_showBackdrop)
{
    @* // Create Modal *@
    <div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-bold">Upload Foto</h5>
                    <button type="button" class="border-0 bg-transparent h1" @onclick="Hide">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                    <div class="modal-body">
                        <div class="content mb-20">
                        <div class="row">
                            @for (int i = 0; i < 4; i++)
                            {
                                if (i == 0)
                                {
                                    <div class="col-3">
                                        <img src="/resources/images/@_srcImg[i]" width="220" height="110" />
                                        <div class="form-check checkbox-style">
                                            <div class="mt-10">
                                                <Input type="file" >
                                            </div>
                                            <div class="mt-10">
                                                <input class="form-check-input" type="checkbox" id="checkbox-1">
                                                <label class="form-check-label" for="checkbox-1">
                                                    Set Default Primary
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }else
                                {
                                    <div class="col-3">
                                        <img src="/resources/images/@_srcImg[i]" alt="google logo" width="220" height="110">
                                        <div class="mt-10">
                                            <Input type="file" >
                                        </div>
                                        <div class="mt-10">
                                            <a class="text-danger" style="border: 0; background-color: transparent;">
                                                <b>X Remove</b>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button @onclick="Hide" type="button" class="main-btn danger-btn-outline btn-hover m-1">
                            Cancel
                        </button>
                        <button @onclick="Hide" class="main-btn primary-btn btn-hover m-1">
                            Submit
                        </button>
                    </div>
            </div>
        </div>
    </div>
}

<SuccessNotification @ref="_notification" />


