@* // Upload Foto Modal *@
<div class="warning-modal">
    <div class="modal fade" id="uploadFotoStock[@Id]" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <form class="modal-content card-style" action="" method="post">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Stock : Bantal</h5>
                    <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="content mb-20">
                        <div class="row">
                            @foreach (var photo in PhotoList)
                            {
                                <div class="col-3">
                                    <img src="/resources/images/@photo.SphoPhotoFileName" />
                                </div>
                            }
                            @*<div class="col-3">
                                <img src="/resources/images/5817814e-2cb2-4d75-8444-55c50570df13RobloxScreenShot 2.png" width="150" height="110" />
                            </div>*@
                           
                        </div>
                    </div>
                    <div class="action d-flex flex-wrap justify-content-end">
                        <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                            Cancel
                        </button>
                        <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
