<section style="margin-bottom: 10px">
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">Order By</option>
        <option value="RemeName">Name</option>
        <option value="RemePrice">Price</option>
    </select>
</section>